<!--
@license
Copyright (c) 2015 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/iron-flex-layout/iron-flex-layout.html">
<link rel="import" href="../../bower_components/firebase-element/firebase-collection.html">

<dom-module id="story-list">
  <style>
    @media (min-width: 1100px) {
      :host {
        width: 744px;
      }
    }

    @media (max-width: 1100px) {
      :host {
        max-width: 100vw;
      }
    }

  </style>
  <template>
    <firebase-collection data="{{data}}"
                    limit-to-first="{{itemLimit}}"
                    location="https://hacker-news.firebaseio.com/v0/topstories">
    </firebase-collection>
    <template is="dom-repeat" items="{{data}}">
      <story-card firebaseitemid='{{item.value}}'>
      </story-card>
    </template>
    <!-- <paper-button raised on-click="addToItemLimit">Load More</paper-button> -->
  </template>
</dom-module>
<script>
(function() {
  Polymer({
    is: 'story-list',
    properties: {
      itemLimit: {
        type: Number,
        value: 35,
        notify: true
      }
    },
    addToItemLimit: function() {
      this.itemLimit += 20;
    }
  });
})();
</script>
