<!--
@license
Copyright (c) 2015 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<script src="../../bower_components/page/page.js"></script>
<script>

  function sendGAPageView(path) {
    if(typeof window.ga !== 'undefined') {
      window.ga('set', 'page', path);
      window.ga('send', 'pageview');
    }
  }

  function updatePage(path) {
   return function() {
      app.route = path.slice(1);
      sendGAPageView(path);
    };
  }

  window.addEventListener('WebComponentsReady', function() {

    // We use Page.js for routing. This is a Micro
    // client-side router inspired by the Express router
    // More info: https://visionmedia.github.io/page.js/
    page('/', '/topstories');

    page('/topstories', updatePage('/topstories'));

    page('/item/:firebaseitemid', function (data) {
      app.route = 'item-info';
      app.params = data.params;
      if(typeof window.ga !== 'undefined') {
        sendGAPageView('/item');
        window.ga('send', 'event', {
          'eventCategory' : 'item',
          'eventAction'   : 'load',
          'eventValue'    : data.params.firebaseitemid
        });
      }
    });

    page('/about', updatePage('/about'));

    // do not add #! before urls
    page({
      hashbang: true
    });

  });
</script>
