/*
Copyright (c) 2015 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
*/

body {
  background: #fafafa;
  font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #333;
}

.paper-toolbar-0 {
	@apply(--layout-center);
}

.poweredBy > a {
	color: white;
	text-decoration: none;
}

@media (max-width: 550px) {
	.poweredBy {
		opacity: 0;
		display: none;
	}

    .hiddenOnPhones {
        opacity: 0;
        display: none;
        visibility: hidden;   
    }
}
