<!--
@license
Copyright (c) 2015 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/iron-flex-layout/iron-flex-layout.html">
<link rel="import" href="../../bower_components/firebase-element/firebase-document.html">
<link rel="import" href="../../bower_components/firebase-element/firebase-collection.html">
<link rel="import" href="../../bower_components/paper-header-panel/paper-header-panel.html">
<link rel="import" href="../../bower_components/paper-scroll-header-panel/paper-scroll-header-panel.html">
<link rel="import" href="../../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../../bower_components/iron-icons/communication-icons.html">
<link rel="import" href="../../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../../bower_components/paper-material/paper-material.html">
<link rel="import" href="../item-timesince/item-timesince.html">
<link rel="import" href="../item-pollopts/item-pollopts.html">
<link rel="import" href="../ga-behaviour/ga-behaviour.html">

<dom-module id="item-info">
  <style>
    @media (min-width: 1100px) {
      :host {
        width: 744px;
      }
    }

    @media (max-width: 1100px) {
      :host {
        max-width: 100vw;
      }
    }

    :host {
      display: block;
    }

    paper-material, a {
      background-color: var(--default-primary-color);
      color: var(--text-primary-color);
      text-decoration: none;
      line-height: 35px;
    }

    #itemFooter {
      margin-top: 25px;
      cursor: pointer;
    }

    span > a {
      text-decoration: none;
      text-overflow: ellipsis;
      font-size: 0.8em;
    }

    .tempCard > {
      height: 100px;
    }

    .time {
      white-space: nowrap;
    }

    .layout .links, .layout .stats {
      margin-left: 20px;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }

    .layout .pollopt {
      margin-left: 20px;
      font-size: 1.1em;
    }

    .pollopts {
      margin-bottom:20px;
      margin-top:20px
    }

    #itemTitle {
      margin: 0 20px 0 20px;
    }

    hr.endOfComments {
      margin-top: 5%;
      margin-left: 25%;
      margin-right: 25%;
      margin-bottom: 5%;
    }

  </style>
  <template>
    <firebase-document location="{{firebaseItemUrl}}" data="{{hnitem}}">
    </firebase-document>
    <!-- <div class="layout horizontal -justified"> class="fullbleed layout vertical" -->
    <paper-material elevation="2" class="fullbleed layout vertical" id="subToolbar">
      <div class="layout horizontal center" >
        <paper-icon-button icon="arrow-back" on-click="itemSummaryBackClicked" class="backButton hiddenOnPhones"></paper-icon-button>
        <div id="itemTitle" class="layout justified">
          <span class="flex"></span> 
          <h1>[[hnitem.title]]</h1>
          <span class="flex"></span> 
        </div>
      </div>
        <template is="dom-if" if="{{isPoll(hnitem)}}">
          <div class="pollopts">
            <template is="dom-repeat" items="{{hnitem.parts}}">
              <item-pollopts class="layout vertical start-justified pollopt" pollopt="{{item}}"></item-pollopts>
            </template>
          </div>
        </template>
        <div class="layout links">
          <template is="dom-if" if="{{isValidUrl(hnitem)}}">
            <iron-icon icon="open-in-new"></iron-icon> <a href="[[hnitem.url]]" target="_blank">[[hnitem.url]]</a> <br/>
          </template>
            <iron-icon icon="open-in-new"></iron-icon> <a href="[[hnItemYCUrl]]" target="_blank">[[hnItemYCUrl]]</a>
        </div>

        <div class="layout stats">
          <span>[[hnitem.score]]</span>
          <paper-button on-click="usernameClicked" noink>[[hnitem.by]]</paper-button>
          <iron-icon icon="communication:comment"></iron-icon> <span>[[hnitem.descendants]]</span>
          <span class="flex"></span>&nbsp;
          <item-timesince item-time="{{hnitem.time}}"></item-timesince>
        </div>
    </paper-material>
    <item-comments comment-firebase-ids="{{firstHundredComments}}" comment-level="1" parent-id="[[firebaseItemId]]" class="tempCard flex"></item-comments>
    <!-- </div> -->
    <template is="dom-if" if="{{showItemFooter(hnitem.descendants)}}">
      <paper-material elevation="1" class="fullbleed layout vertical" id="itemFooter" on-click="itemFooterBackClicked">
        <div class="layout horizontal center-justified" >
          <div class="layout horizontal center">
            <paper-icon-button icon="arrow-back" class="backButton">
            </paper-icon-button>
            Back to Top Stories
          </div>
        </div>
      </paper-material>
    </template>
    <hr class="endOfComments">
  </template>
</dom-module>
<script>
(function() {
  Polymer({
    is: 'item-info',
    behaviours: [TrackingBehaviours.GABehaviour],
    properties: {
      firebaseItemId: {
        type: String,
        notify: true,
        reflectToAttribute: true
      },
      firebaseItemUrl: {
        type: String,
        computed: 'getFirebaseItemUrl(firebaseItemId)',
        notify: true
      },
      hnUserUrl: {
        type: String,
        computed: 'getHNUserUrlFromUsername(hnitem.by)'
      },
      commentCount: {
        computed: 'getCommentCount(hnitem.kids)'
      },
      hnItemYCUrl: {
        type: String,
        computed: 'getYCUrlFromId(hnitem.id)'
      },
      firstHundredComments: {
        type: Array,
        computed: 'getFirstHundred(hnitem)'
      }
    },
    getFirstHundred: function(hnitem) {
      if( typeof hnitem.kids === 'undefined' || hnitem.descendants === 0 ) {
        return [];
      } else {
        return hnitem.kids.slice(0,100);
      }
    },
    getFirebaseItemUrl: function(firebaseItemId) {
      return 'https://hacker-news.firebaseio.com/v0/item/' + firebaseItemId;
    },
    getHNUserUrlFromUsername: function(username) {
      return 'https://news.ycombinator.com/user?id=' + username;      
    },
    usernameClicked: function() {
      this.behaviours[0].sendButtonClick('item-author');
      window.open(this.hnUserUrl, '_blank');
    },
    itemSummaryBackClicked: function() {
      this.backToTopStories('go-back');
    },
    itemFooterBackClicked: function() {
      this.backToTopStories('item-footer');
    },
    getCommentCount: function(kids) {
      return typeof kids !== 'undefined' ? kids.length : 0;
    },
    getYCUrlFromId: function(id) {
      return 'https://news.ycombinator.com/item?id=' + id;
    },
    backToTopStories: function(sourceLabel) {
      console.log(sourceLabel);
      this.behaviours[0].sendButtonClick(sourceLabel);
      page('/topstories');
    },
    isValidUrl: function(item) {
      return Boolean(item.url);
    },
    isPoll: function(item) {
      return item.type === 'poll';
    }, 
    showItemFooter: function(descendants) {
      return descendants >= 15;
    }
  });
})();
</script>
