<!--
@license
Copyright (c) 2015 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/firebase-element/firebase-document.html">
<link rel="import" href="../../bower_components/iron-flex-layout/iron-flex-layout.html">

<dom-module id="item-pollopts">
  <style>
    :host {
      display: block;
    }

    :host .text {
      padding-left: 15px;
    };
      
  </style>
  <template>
    <firebase-document location="{{polloptFirebaseUrl}}" data="{{opt}}">
    </firebase-document>

    <div class="layout horizontal start">
      <div class="layout">
          <span class="layout flex"></span>
          <strong>{{opt.score}}</strong>        
      </div>      
      <div class="layout start-justified flex text">
        <span>{{opt.text}}</span>
      </div>      
    </div>

  </template>
  <script>
  (function() {
    Polymer({
      is: 'item-pollopts',

      properties: {
        pollopt: {
          type: Number,
          notify: true
        },
        polloptFirebaseUrl: {
          type: String,
          computed: 'generateFirebaseUrl(pollopt)'
        }
      },
      generateFirebaseUrl: function(id) {
        return 'https://hacker-news.firebaseio.com/v0/item/' + id;
      }
    });
  })();
  </script>
</dom-module>
