<!--
@license
Copyright (c) 2015 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<!doctype html>
<html lang="">

<head>
  <meta charset="utf-8">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="generator" content="HN Reader" />
  <title>Hacker News Reader - Polymer</title>
  <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

  <!-- Chrome for Android theme color -->
  <meta name="theme-color" content="#303F9F">

  <!-- Web Application Manifest -->
  <link rel="manifest" href="manifest.json">

  <!-- Tile color for Win8 -->
  <meta name="msapplication-TileColor" content="#3372DF">

  <!-- Add to homescreen for Chrome on Android -->
  <meta name="mobile-web-app-capable" content="yes">
  <meta name="application-name" content="Polymer Hacker New Reader">
  <link rel="icon" sizes="192x192" href="images/touch/chrome-touch-icon-192x192.png">

  <!-- Add to homescreen for Safari on iOS -->
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="apple-mobile-web-app-title" content="Polymer Hacker News Reader">
  <link rel="apple-touch-icon" href="images/touch/apple-touch-icon.png">

  <!-- Tile icon for Win8 (144x144) -->
  <meta name="msapplication-TileImage" content="images/touch/ms-touch-icon-144x144-precomposed.png">

  <!-- build:css styles/main.css -->
  <link rel="stylesheet" href="styles/main.css">
  <!-- endbuild-->

  <!-- build:js bower_components/webcomponentsjs/webcomponents-lite.min.js -->
  <script src="bower_components/webcomponentsjs/webcomponents-lite.js"></script>
  <!-- endbuild -->

  <!-- will be replaced with elements/elements.vulcanized.html -->
  <link rel="import" href="elements/elements.html">
  <!-- endreplace-->
</head>

<body unresolved class="fullbleed layout vertical">
  <span id="browser-sync-binding"></span>
  <template is="dom-bind" id="app">

    <paper-drawer-panel id="paperDrawerPanel" 
                        responsive-width="1100px">
      <div drawer>

        <!-- Drawer Toolbar -->
        <paper-toolbar id="drawerToolbar">
          <span class="paper-font-title">Menu</span>
        </paper-toolbar>

        <!-- Drawer Content -->
          <paper-menu class="list" attr-for-selected="data-route" selected="{{route}}" on-iron-select="onMenuSelect">
              <a data-route="topstories" href="/">
                <iron-icon icon="social:whatshot"></iron-icon>
                <span>Top Stories</span>
              </a>

              <a data-route="about" href="/about">
                <iron-icon icon="info"></iron-icon>
                <span>About This App</span>
              </a>
          </paper-menu>
          <!-- <hr> -->
          <sidebar-info></sidebar-info>
      </div>
      <paper-scroll-header-panel main class="flex" id="contentHeaderPanel">
        <paper-toolbar class="paper-toolbar-0" id="mainToolbar" >
          <paper-icon-button id="paperToggle" icon="menu" hidden="{{!isMenuToggleToBeShown(route)}}" paper-drawer-toggle></paper-icon-button>
          <paper-icon-button id="paperToggle" icon="arrow-back" hidden="{{isMenuToggleToBeShown(route)}}" on-click="toolbarBackButtonClicked"></paper-icon-button>
          <!-- Application title -->
            <div class="title" flex>
              <template is="dom-if" if="{{isMenuToggleToBeShown(route)}}">
                Hacker News Reader
              </template>
              <span hidden="{{isMenuToggleToBeShown(route)}}">Back to Top Stories</span>
            </div>
          <div class="poweredBy">
            Powered by <a href="https://www.polymer-project.org">Polymer</a> &amp; 
                       <a href="https://firebase.com">Firebase</a> 
          </div>
        </paper-toolbar>
        <div class="content">

          <iron-pages attr-for-selected="data-route" class="layout vertical center" selected="{{route}}">
          <!-- Top Stories -->
            <section data-route="topstories">
              <story-list id="story-list" class="layout vertical center-justified"></story-list>
            </section>
            <!-- Item Info -->
            <section data-route="item-info" class="fullbleed layout center-justified">
              <item-info firebase-item-id="[[params.firebaseitemid]]" class="fullbleed flex"></item-info>
            </section>
            <!-- About -->
            <section data-route="about">
              <paper-material elevation="1" class="paper-font-body2 layout center" style="max-width:744px;">
                <h1>About this app</h1>
                <hr>
                <p>
                  This app a <strong>work-in-progress</strong> built with Polymer and served using Firebase Hosting.
                  The Hacker News firebase feed driving this app can be found <a href="https://github.com/HackerNews/API">here</a>. Special thanks for this API being freely available.
                </p>
                <br />
                <h2>Contact</h2>
                <hr>
                <p>
                  Feel free to ping me on <a href="https://twitter.com/qaoqz">@qaoqz</a>.
                </p>
              </paper-material>
            </section>
          </iron-pages>
        
        </div>
      </paper-scroll-header-panel>
    </paper-drawer-panel>

    <paper-toast id="caching-complete"
                 duration="6000"
                 text="Caching complete! This app will work offline.">
    </paper-toast>

    <platinum-sw-register auto-register
                          clients-claim
                          skip-waiting
                          on-service-worker-installed="displayInstalledToast">
      <platinum-sw-cache default-cache-strategy="networkFirst"
                         precache-file="precache.json">
      </platinum-sw-cache>
    </platinum-sw-register>

  </template>

  <script>
    if(  (typeof navigator.doNotTrack === 'undefined' || navigator.doNotTrack != 1)
             && /firebaseapp\.com/.test(window.location.hostname) ) { 
      /* GA code */ 
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-65525138-1', 'auto');
      ga('send', 'pageview');
    }

  </script>

  <!-- build:js scripts/app.js -->
  <script src="scripts/app.js"></script>
  <!-- endbuild-->
</body>

</html>
