<!--
@license
Copyright (c) 2015 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/iron-flex-layout/iron-flex-layout.html">

<dom-module id="sidebar-info">
  <template>
    <style>
      :host {
        display: block;
        background-color: #ededed;
        /*height: 100vh;*/
        @apply(--layout-vertical);
        @applt(--layout-flex);
      }

      .controls {
        margin: 30px 15px 30px 15px;
      }
    </style>
    <div class="controls layout horizontal justified">
      Do not track: <span>[[doNotTrackMessage]]</span>
    </div>
  </template>
  <script>
  (function() {
    Polymer({
      is: 'sidebar-info',
      ready: function() {
        this.browserDoNotTrack = !(typeof navigator.doNotTrack === 'undefined' || navigator.doNotTrack != 1);
      },
      properties: {
        browserDoNotTrack: {
          type: Boolean,
          value: false,
          notify: true
        },
        doNotTrackMessage: {
          type: String,
          computed: 'getDNTMessage(browserDoNotTrack)'        
        }
      },
      getDNTMessage: function(browserDoNotTrack) {
        if( browserDoNotTrack ) {
          return 'Enabled';
        } else {
          return 'Disabled';
        }
      }
    });
  })();
  </script>
</dom-module>