<!--
@license
Copyright (c) 2015 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../../bower_components/polymer/polymer.html">

<dom-module id="item-timesince">
  <style>
    :host {
      display: inline;
    }
  </style>
  <template>
    <span class="time">[[timeSince]]</span>&nbsp;ago
  </template>
</dom-module>
<script>
(function() {
  Polymer({
    is: 'item-timesince',

    properties: {
      itemTime: {
        type: Date,
        reflectToAttribute: true,
        notify: true
      },
      timeSince: {
        type: String,
        computed: 'calculateTimeSince(itemTime)',
        notify:true
      }
    },
    calculateTimeSince: function (date) {

      var seconds = Math.floor((new Date() - date*1000) / 1000);

      var interval = Math.floor(seconds / 31536000);

      if (interval > 1) {
          return interval + ' years';
      }
      interval = Math.floor(seconds / 2592000);
      if (interval > 1) {
          return interval + ' months';
      }
      interval = Math.floor(seconds / 86400);
      if (interval > 1) {
          return interval + ' days';
      }
      interval = Math.floor(seconds / 3600);
      if (interval > 1) {
          return interval + ' hours';
      }
      interval = Math.floor(seconds / 60);
      if (interval > 1) {
          return interval + ' minutes';
      }
      return Math.floor(seconds) + ' seconds';
    }
  });
})();
</script>
