<!--
@license
Copyright (c) 2015 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/paper-material/paper-material.html">
<link rel="import" href="../../bower_components/firebase-element/firebase-document.html">
<link rel="import" href="../../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../../bower_components/iron-icons/social-icons.html">
<link rel="import" href="../../bower_components/iron-icons/image-icons.html">
<link rel="import" href="../../bower_components/iron-flex-layout/iron-flex-layout.html">
<link rel="import" href="../../bower_components/iron-collapse/iron-collapse.html">
<link rel="import" href="../../bower_components/paper-icon-button/paper-icon-button.html">

<dom-module id="item-comment">
  <style>
    :host {
      display: block;
    }

    paper-material {
      display: block;
      border: 1px solid #bebebe; 
      padding: 16px; 
      margin: 16px; 
      margin-top: inherit;
      margin-bottom: inherit;
      border-radius: 3px; 
      background-color: #fff; color: #555;
      white-space: normal
    }

    h3 {
      margin-top: -5px;
    }

    iron-collapse:is(.iron-collapse-closed) h3 {
      margin-bottom: -5px;
    }

    .depthIndicator {
      width: 20px;
      height: 20px;
    }
  </style>
  <template>
    <firebase-document location="{{firebaseItemUrl}}" data="{{commentInfo}}"></firebase-document>
    <paper-material elevation="1" class="flex fullbleed" style="height: inherit;">
        <template is="dom-if" if="{{deletedComment(commentInfo)}}">
          <h4>[Comment deleted]</h4>
        </template>
        <h3  class="layout horizontal center" hidden$="{{deletedComment(commentInfo)}}" on-click="commentCollapseClicked">
          <!-- <iron-icon icon="social:person"></iron-icon>&nbsp; -->
          <!-- <paper-icon-button icon="indeterminate-check-box" on-click="toggleCommentTree"></paper-icon-button> -->
          <span class="layout justified">[[commentInfo.by]]</span>&nbsp;
            <span class="flex"></span>
            <template is="dom-repeat" items="{{commentIndicatorArray}}">
              <iron-icon icon="expand-less" class="depthIndicator" hidden="{{commentCollapsed}}"></iron-icon>
              <iron-icon icon="expand-more" class="depthIndicator" hidden="{{!commentCollapsed}}"></iron-icon>
            </template>
            <span class="flex"></span>
          <small><item-timesince item-time="{{commentInfo.time}}"></item-timesince></small>
        </h3>  
      <iron-collapse  id="{{getIronCollapseIdString(commentInfo.id)}}" 
                      class="flex fullbleed" 
                      opened="true" 
                      hidden$="{{deletedComment(commentInfo)}}">
        <div id="commentText" inner-h-t-m-l="[[commentInfo.text]]"></div>
      </iron-collapse>
    </paper-material>
    <item-comments  comment-firebase-ids="{{commentInfo.kids}}"
                    comment-level="{{childCommentLevel}}" 
                    parent-id="[[firebaseItemId]]"
                    class="tempCard flex ch" 
                    style=" margin-left: 10px; 
                            margin-top: 0px; 
                            margin-bottom: 0px">
    </item-comments>
  </template>
</dom-module>
<script>
(function() {
  Polymer({
    is: 'item-comment',

    properties: {
      firebaseItemId: {
        type: String,
        notify: true,
        reflectToAttribute: true
      },
      firebaseItemUrl: {
        type: String,
        computed: 'getFirebaseItemUrl(firebaseItemId)',
        notify: true
      },
      commentLevel: {
        type: Number,
        notify: true,
        reflectToAttribute: true
      },
      childCommentLevel: {
        type: Number,
        notify: true,
        computed: 'getChildCommentLevel(commentLevel)'
      },
      commentIndicatorArray: {
        type: Array,
        notify: true,
        computed: 'generateIndicatorArray(commentLevel)'
      },
      commentCollapsed: {
        type: Boolean,
        value: false,
        notify: true
      }
    },
    commentCollapseClicked: function() {
      document.querySelector('#'+this.getIronCollapseIdString(this.commentInfo.id)).toggle();
      this.commentCollapsed = !this.commentCollapsed;
      // document.querySelector('#notImplemented').show();
    },
    generateIndicatorArray: function(commentLevel) {
      return Array.apply(null, {length: commentLevel}).map(Number.call, Number);
    },
    getChildCommentLevel: function(commentLevel) {
      return commentLevel + 1;
    },
    getFirebaseItemUrl: function(firebaseItemId) {
      return 'https://hacker-news.firebaseio.com/v0/item/' + firebaseItemId;
    },
    toggleCommentTree: function() {
      document.querySelector('#comment'+ this.firebaseItemId).toggle();
      var paperIcon = this.querySelector('h3').querySelector('paper-icon-button');
      paperIcon.icon = paperIcon.icon === 'add-box' ? 'indeterminate-check-box' : 'add-box';
    },
    getIronCollapseIdString: function(id) {
      return 'comment' + id;
    },
    deletedComment: function(item) {
      return Boolean(item.deleted);
    },
    logComment: function() {
      console.log(this.firebaseItemId);
    }
  });
})();
</script>
