<!--
@license
Copyright (c) 2015 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/firebase-element/firebase-document.html">
<link rel="import" href="../../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../../bower_components/iron-flex-layout/iron-flex-layout.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../ga-behaviour/ga-behaviour.html">

<!-- <link rel="import" href="../../bower_components/iron-icons/iron-icons.html"> -->

<dom-module id="story-card">
  <style>

    :host {
      display: block;
    }
    paper-material {
      display: block;
      border: 1px solid #bebebe; 
      padding: 16px; 
      margin: 16px;
      border-radius: 3px; 
      background-color: #fff; color: #555;
    }

    paper-material.itemSummary {
      margin-bottom: 0px;
      cursor: pointer;
    }

    paper-material.itemSidebar {
      margin-top: 0px;
      padding-bottom: 0px;
      width: 100vw;
      /*background-color: lightgrey;*/
      background-color: var(--disabled-text-color);
      @apply(--layout-center-justified --layout-horizontal);
    }

    paper-material > header {
      border-bottom: 1px solid #E5E5E5;
      font-size: 1.4em;
      font-style: bold;
    }

    strong.title {
      font-size: 1.4em;
    }

    span.commentCountDisplay > iron-icon {
      white-space: nowrap;
    }

    .storyMeta {
      white-space: nowrap;
    }

    .newTab {
      margin-top: -10px;
    }

    iron-icon {
      -moz-transform: scaleX(-1);
      -webkit-transform: scaleX(-1);
      -o-transform: scaleX(-1);
      transform: scaleX(-1);
      -ms-filter: fliph; /*IE*/
      filter: fliph; /*IE*/
    }

    .poster {
      font-weight: 600;
    }

    @media (min-width: 1100px) {
      .itemSidebar {
        max-width: 70%;
        min-width: 50%;
        
      }
    }

  </style>
  <template>
    <firebase-document location="{{firebaseItemUrl}}" data="{{hnitem}}" >
    </firebase-document>
    <div class="layout vertical">
      <paper-material elevation="2" on-click="onClick" animated class="itemSummary flex">
        <div class="layout horizontal">
          <div layout horizontal class="flex">
            <strong class="title">[[hnitem.title]]</strong>
            <span class="storyMeta">
               <span>[[extractDomain(hnitem.url)]]</span>
            </span>

            <span class="layout horizontal end" style="margin-top:10px;">
              <item-timesince item-time="{{hnitem.time}}"></item-timesince>
              <span style="font-weight:400">&nbsp;by&nbsp;</span>
              <span class="poster">[[hnitem.by]]</span>
            </span>
          </div>
        </div>
      </paper-material>  
      <template is="dom-if" if="{{showSideBar(hnitem)}}">
        <div class="itemMeta layout horizontal flex center-justified">
          <paper-material elevation="1" class="itemSidebar layout horizontal around-justified">
              <!-- <div class="layout vertical end" style="margin-left:5px"> -->
                <!-- <span class="flex"></span> -->
                <span>
                  <span>[[hnitem.score]]</span>
                  <iron-icon icon="social:whatshot" style="margin-top:-3px"></iron-icon>
                </span>
                <template is="dom-if" if="{{hasDescendants(hnitem)}}">
                  <span class="commentCountDisplay" style="white-space: nowrap;">
                    <span>[[hnitem.descendants]]</span>
                    <iron-icon icon="communication:comment"></iron-icon> 
                  </span>
                </template>
                <template is="dom-if" if="{{isValidUrl(hnitem)}}">
                  <paper-icon-button icon="open-in-new" class="newTab" on-click="openItemInNewTab"></paper-icon-button>
                </template>
                <!-- <span class="flex"></span> -->
              <!-- </div>         -->
          </paper-material>
        </div>
      </template>
    </div>
    
  </template>
</dom-module>
<script>
(function() {
  Polymer({
    is: 'story-card',
    behaviours: [TrackingBehaviours.GABehaviour],
    properties: {
      firebaseitemid: {
          type: String,
          reflectToAttribute: true,
          notify: true
      },
      firebaseItemUrl: {
        type: String,
        computed: 'getFirebaseItemUrl(firebaseitemid)',
        notify: true
      },
      commentCount: {
        computed: 'getCommentCount(hnitem.kids)',
        notify: true
      },
    },
    getFirebaseItemUrl: function(firebaseitemid) {
      return 'https://hacker-news.firebaseio.com/v0/item/' + firebaseitemid;
    },
    openItemInNewTab: function() {
      this.behaviours[0].sendButtonClick('item-in-new-tab');
      window.open(this.hnitem.url, '_blank');
    },
    getCommentCount: function(kids) {
      return typeof kids !== 'undefined' ? kids.length : 0;
    },
    onClick: function() {
      document.querySelector('#contentHeaderPanel').scroller.scrollTop = 0;
      page('/item/' + this.hnitem.id);
    },
    extractDomain: function(url) {
      if( typeof url === 'undefined' ) {
        return '';
      }
      var domain;
      //find & remove protocol (http, ftp, etc.) and get domain
      if (url.indexOf('://') > -1) {
          domain = url.split('/')[2];
      }
      else {
          domain = url.split('/')[0];
      }

      //find & remove port number
      domain = domain.split(':')[0];

      return domain;
    },
    isValidUrl: function(item) {
      return Boolean(item.url);
    },
    hasDescendants: function(item) {
      return Boolean(item.descendants) || item.descendants === 0;
    },
    showSideBar: function(item) {
      return this.hasDescendants(item) || this.isValidUrl(item);
    }
  });
})();
</script>
