<!--
@license
Copyright (c) 2015 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/iron-flex-layout/iron-flex-layout.html">

<dom-module id="item-comments">
  <style>
    :host {
      display: block;
    }
  </style>
  <template>
    <template is="dom-repeat" items="{{commentFirebaseIds}}" filter="isNotDead">
      <item-comment firebase-item-id="{{item}}" comment-level="{{commentLevel}}" class="flex"></item-comment>
    </template>
  </template>
</dom-module>
<script>
(function() {
  Polymer({
    is: 'item-comments',
    properties: {
      commentFirebaseIds : {
        type: Array,
        reflectToAttribute: true,
        notify: true
      },
      commentLevel: {
        type: Number,
        notify: true,
        reflectToAttribute: true
      },
      parentId: {
        type: String,
        notify: true,
        reflectToAttribute: true
      }
    },
    isNotDead: function(item) {
      return !item.dead;
    }
  });
})();
</script>
